.Contents {
  .first-img {
    position: relative;

    div:first-child {
      position: absolute;
      font-size: 30px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      line-height: normal;
    }
    .spring-summer {
      display: flex;
      a {
        width: 50%;
        height: auto;
        display: block;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  section {
    display: flex;
    height: 915.94px;

    .odd-img,
    .even-img {
      width: 788.2px;
    }

    .gray-link {
      background: rgb(240, 240, 240);
      padding: 80px 20px;
      width: 1044.8px;
      display: flex;
      flex-direction: column;

      .text {
        justify-self: flex-start;

        p {
          height: 40px;
          font-size: 30px;
          text-align: center;
          letter-spacing: 1.67px;
        }
      }

      a {
        justify-self: flex-end;
        margin-top: auto;
        text-align: center;
        font-size: 20px;
        letter-spacing: 2.5px;
        color: black;
      }
    }

    .slider-container {
      background: rgb(242, 242, 242);
      padding: 0;

      .slide-text {
        margin-top: 140px;
        padding: 0 20px;
      }

      .slider-box {
        width: 100%;
        padding: 0 37px;
        top: 205px;
        position: relative;

        .slider {
          width: 970.8px;
          height: 426.5px;
          padding: 0 25px;

          .slick-arrow {
            position: absolute;
            top: 40%;
            width: 14px;
            height: 14px;
            transform: translateY(-50%);
            background-color: rgb(242, 242, 242);
            &.slick-prev {
              left: 0px;
            }
            &.slick-next {
              right: 0px;
            }
          }

          .slick-prev:before {
            content: "";
            background-image: url(../../Images/arrow-left.png);
            background-size: 100% 100%;
            display: inline-block;
            width: 14px;
            height: 14px;
            position: absolute;
            left: 0;
            top: 0;
          }
          .slick-next:before {
            content: "";
            background-image: url(../../Images/arrow-right.png);
            background-size: 100% 100%;
            display: inline-block;
            width: 14px;
            height: 14px;
            position: absolute;
            right: 0;
          }

          .slick-list {
            height: 100%;

            .slick-track {
              height: 100%;

              .slick-slide.slick-active {
                display: flex;
                justify-content: center;
                height: 100%;
              }

              .slider-img {
                width: 100%;
                height: 100%;
                img {
                  width: 250px;
                  height: 374.5px;
                }
                p {
                  font-size: 12px;
                  letter-spacing: 1px;
                  line-height: 16.8px;
                  padding: 16px 0 20px 0;
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }

    .black-link {
      background: black;
      padding: 80px 20px;
      width: 1044.8px;
      display: flex;
      flex-direction: column;

      .text {
        justify-self: flex-start;

        p {
          color: #ffffff;
          height: 40px;
          font-size: 30px;
          text-align: center;
          letter-spacing: 1.67px;
        }
      }

      a {
        justify-self: flex-end;
        margin-top: auto;
        text-align: center;
        font-size: 20px;
        letter-spacing: 2.5px;
        color: #ffffff;
      }
    }
  }

  .instagram {
    height: 570px;
    padding: 70px 0;

    .ami-account {
      height: 110px;
      padding-bottom: 70px;
      font-size: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .img {
      display: flex;
      justify-content: center;

      a {
        padding: 0 15px;
        width: 350px;
        height: 320px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  button {
    background: #ffffff;
    border: none;
    outline: none;
    width: 100%;
    height: 550px;
    display: block;
    padding: 1px 6px;
    cursor: pointer;

    .gray-text {
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 1.17px;
      color: #c2c2c2;
      line-height: 21px;
      font-family: "MierA-Regular";
    }

    .signupto {
      font-size: 30px;
      font-family: "MierA-Bold";
      letter-spacing: 2.5px;
      margin: 30px 0 45px;
      line-height: 45px;
    }

    .register {
      font-size: 14px;
      padding-bottom: 4px;
      margin-bottom: -4px;
      letter-spacing: 1.3px;
      line-height: 19.6px;
      font-family: "MierA-Regular";
    }
  }
}
