* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none !important;
}

input:focus,
button:focus,
select:focus {
  outline: none;
}
