.Product {
  cursor: pointer;

  .imgs {
    position: relative;
    .img-original {
      max-width: 392px;
      height: auto;
      width: 100%;
    }
    .heart-button {
      position: absolute;
      right: 0;
      margin: 0;
      width: 3%;
      height: 3%;
      top: 20px;
      right: 25px;
      cursor: pointer;
    }
  }

  .text-wrapper {
    padding: 20px 10px 18px 10px;
    font-family: MierA-Demi;
    color: black;

    .name-and-price {
      font-family: MierA-Demi;
      display: flex;
      justify-content: space-between;
      font-size: 12px;
      letter-spacing: 1.3px;
      line-height: 16.8px;
    }

    .hide {
      opacity: 0;
    }

    .show {
      opacity: 1;
    }

    .color-and-add {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;

      .color-options {
        display: inline;
        padding-top: 4px;

        img {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          margin-right: 10px;
          border-style: none;
          // border-image: initial;
        }
      }

      .quick-add-hovered {
        font-family: MierA-Demi;
        font-size: 11px;
        letter-spacing: 1px;
        line-height: 15.4px;
        background-color: transparent;
        text-decoration: none;
        padding: 5.5px 0px 5px 0px;
        cursor: pointer;
        border: none;
        outline: none;
        position: relative;
        transition: 0.3s;
      }

      .quick-add-hovered::before {
        content: "";
        border-bottom: 0.5px solid black;
        padding: 0 0.1px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 0;
        transition: 0.3s;
      }

      .quick-add-hovered:hover::before {
        width: 100%;
      }
    }
  }
}

@media (max-width: 1000px) {
  .man-set {
    flex: 1 50%;
  }
}
