.product-detail {

    margin-top: 80px;
    font-family: "MierA-Regular";


    .product-header {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 90px;
        background-color: powderblue;

        .product-directory {
            font-size: 16px;
            letter-spacing: 1.17px;
            line-height: 22.4px;
            margin: auto 20px;
            background-color: transparent;
            text-decoration: none;
            padding: 5.5px 0px 5px 0px;
            border-color: initial;
            border-image: initial;
            cursor: pointer;
            border: none;
            outline: none;
            position: relative;
            transition: 0.3s
        }

        .product-directory::before {
            content: "";
            border-bottom: 0.5px solid black;
            padding: 0 0.1px;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 0;
            transition: 0.3s;

        }

        .product-directory:hover::before {
            width: 100%;
            padding: 0;
        }

        .product-directory:active {
            background: black;
            color: white;
            transition: none;
        }

    }
}