.Login {
  display: flex;
  justify-content: center;
  width: 100%; // 952.5px
  height: 550px;

  .login-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 542.922px;
    height: 415px;
    justify-content: space-between;
    .already-customer {
      font-size: 20px;
      letter-spacing: 1.67px;
      font-family: "MierA-Regular";
      margin-bottom: 10px;
      .already-ami {
        margin-right: 25px;
      }
    }
    .login-id {
      position: relative;
      .loginId-text {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid;
        padding-top: 20px;
        font-size: 14px;
        width: 465.922px;
        height: 54px;
        font-family: "MierA-Regular";
      }
      .id-up {
        position: absolute;
        right: 81.5%;
        bottom: 81.5%;
        color: gray;
        font-size: 12px;
        letter-spacing: 1px;
        font-family: "MierA-Regular";
        transition: all 0.2s ease 0s;
      }
      .id-down {
        position: absolute;
        right: 81.5%;
        bottom: 1.5%;
        font-family: "MierA-Regular";
      }
    }
    input::placeholder {
      color: black;
    }
    .error-id {
      position: absolute;
      display: block;
      color: red;
      bottom: 66%;
      right: 16%;
      font-size: 14px;
      font-family: "MierA-Regular";
    }
    .login-password {
      position: relative;
      margin-top: 20px;
      .loginPw-text {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid;
        padding-top: 20px;
        font-size: 14px;
        width: 465.922px;
        height: 54px;
        font-family: "MierA-Regular";
        margin-bottom: 5px;
      }
      .pw-up {
        position: absolute;
        right: 86.5%;
        bottom: 81.5%;
        color: gray;
        font-size: 12px;
        letter-spacing: 1px;
        font-family: "MierA-Regular";
        transition: all 0.2s ease 0s;
      }
      .pw-down {
        position: absolute;
        right: 86.5%;
        bottom: 4.5%;
        font-family: "MierA-Regular";
      }
      .eyes-button {
        border: none;
        background-color: white;
        position: absolute;
        right: 14%;
        bottom: 15%;
        .eyes-image {
          background-color: white;
          height: 15px;
        }
      }
    }
    .error-password {
      position: absolute;
      display: none;
      color: red;
      bottom: 43%;
      right: 15%;
      font-size: 14px;
      font-family: "MierA-Regular";
    }
    .last-wrapper {
      .forgot {
        font-size: 11px;
        font-family: "MierA-Regular";
        margin-bottom: 40px;
        a {
          color: black;
          border-bottom: 1px solid black;
          letter-spacing: 1px;
          font-style: italic;
          padding-bottom: 4px;
        }
        label {
          display: inline-flex;
          align-items: center;
          .save-checkbox {
            border: 1px solid gray;
            margin-left: 240px;
            margin-right: 10px;
          }
          .checkbox-ment {
            letter-spacing: 0.92px;
          }
        }
      }
    }
    .login-button {
      height: 49px;
      width: 271.453px;
      letter-spacing: 0.12px;
      font-size: 14px;
      background-color: black;
      color: white;
      border: none;
      font-family: "MierA-Regular";
      margin-top: 35px;
    }
  }
}
